# Ignore folders
00-playground/ALT
00-playground/export
00-playground/test_data
00-playground_NN/export
00-playground_NN/logs
00-playground_NN/logs/BACKUP
00-playground_NN/mini_dataset
00-playground_NN/model_export
00-playground_NN/model_export/BACKUP
00-playground_NN/test_data
01-data_preparation/ALT
02-dataset_generation/ALT
00-templates/ALT
tools/ALT
02-dataset_generation/dataset
04-conv_net/ALT
04-conv_net/logs
04-conv_net/logs/BACKUP
04-conv_net/SAVED
04-conv_net/model_export
04-conv_net/model_export/BACKUP
04-conv_net/export
05-validation/ALT
05-validation/results

# Ignore files
*.zip
*.nrrd
*.tif
*.tiff
*.pyc
*.json
*.csv